.MovieDetail {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: var(--color-white);
    overflow: hidden;
}

.MovieDetail .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.4);
    opacity: 1;
    pointer-events: none;
}

.MovieDetail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-gray-dark) 20%, var(--color-gray) 100%);
}

.MovieDetail .movie-info,
.MovieDetail iframe {
    position: relative;
    z-index: 3;
}

.MovieDetail .movie-info {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(13 13 13 / 25%);
    padding: 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 1rem var(--color-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.MovieDetail .left-info,
.MovieDetail .right-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.MovieDetail .name {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: bold;
    color: var(--color-white);
    margin: 0 0 1rem 0;
    grid-column: 1 / -1;
    text-align: center;
}

.MovieDetail .year,
.MovieDetail .category {
    font-style: bold;
    color: #b9b9b9;
}

.MovieDetail .description {
    font-size: 1.125rem;
    line-height: 1.6;
    font-style: bold;
    color: var(--color-gray-light);
}

.MovieDetail .length {
    font-size: 1.125rem;
    font-style: bold;
    color: hsla(0, 0%, 100%, 0.637);
}

.MovieDetail .director,
.MovieDetail .min_age {
    font-size: 0.875rem;
    font-style: bold;
    color: var(--color-gray-light);
}

.MovieDetail iframe {
    margin-top: 2rem;
    width: 100%;
    max-width: 56.25rem;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 0.625rem;
    box-shadow: 0 0 1rem #ffffff33;
}
