<div class = "MovieDetail">

    <img class = "img" src="https://mmi.unilim.fr/~meignant3/SAE2.03-Meignant/server/images/{{image}}" alt="">
    <div class="name">{{name}}</div>
    <div class="year">{{year}}</div>
    <div class = "category">{{category}}</div>
    <div class ="description">{{description}}</div>
    <div class = "director">{{director}}</div>
    <div class = "min_age">{{min_age}}</div>
    <iframe width="560" height="315" src="{{trailer}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>