<div class="MovieDetail">
    
    <!-- Image du film -->
    <img class="img" src="https://mmi.unilim.fr/~meignant3/SAE2.03-Meignant/server/images/{{image}}" alt="Affiche du film">
   
    <div class="movie-info">
  <!-- Titre directement dans la grille principale -->
  <h1 class="name">{{name}}</h1>

  <!-- Colonne gauche -->
  <div class="left-info">
    <p class="year">{{year}}</p>
    <p class="category">{{id_category}}</p>
    <p class="description">{{description}}</p>
  </div>

  <!-- Colonne droite -->
  <div class="right-info">
    <p class="director">Réalisé par : {{director}}</p>
    <p class="length">Durée : {{length}} min</p>
    <p class="min_age">Âge minimum : {{min_age}} ans</p>
  </div>
</div>

      

    <!-- Bande-annonce en bas -->
    <iframe 
        src="{{trailer}}" 
        title="Bande-annonce de {{name}}" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
