<div class="MovieDetail">
    
    <!-- Image du film -->
    <img class="img" src="https://mmi.unilim.fr/~meignant3/SAE2.03-Meignant/server/images/{{image}}" alt="Affiche du film">

    <!-- Détails du film -->
    <div class="movie-info">
        <h1 class="name">{{name}}</h1>
        <p class="year">{{year}}</p>
        <p class="category">{{id_category}}</p>
        <p class="description">{{description}}</p>

        <div class="meta-info">
            <p class="director">Réalisé par : {{director}}</p>
            <p class ="length">durée du film : {{length}}</p>
            <p class="min_age">Restriction d'âge : {{min_age}}</p>
        </div>
    </div>

    <!-- Bande-annonce en bas -->
    <iframe 
        src="{{trailer}}" 
        title="Bande-annonce de {{name}}" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
