.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3rem;
  min-height: 50px;
  color: var(--color-fg);
  background-color: #0D1118;
  flex-wrap: wrap;

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: var(--color-orange);
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;

    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__item img {
  width: 4.375rem;
  height: auto;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}